//- mobile
meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui")

//- twitter & fb meta
meta(name="twitter:description", content="Arena is a platform for private and collaborative research where you can save links, images, and files and organize them into collections.")
meta(name="twitter:site", content="@aredotna")
meta(property="og:description" content="Arena is a platform for private and collaborative research where you can save links, images, and files and organize them into collections.")
