@font-face {
  font-family: 'Work Sans';
  src: url("/assets/WorkSans-Extrabold.woff"), url("/assets/WorkSans-Extrabold.woff2"), url("/assets/WorkSans-Extrabold.otf"), url("/assets/WorkSans-Extrabold.otf") format('embedded-opentype');
  font-weight: 800;
}
@font-face {
  font-family: 'Archivo';
  src: url("/assets/ArchivoBlack-Regular.ttf");
  font-weight: 800;
}
body,
html {
  font-family: 'Arial', sans;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-weight: 300;
  font-size: 12px;
  color: #000;
}
a {
  color: #000;
  text-decoration: none;
}
h1 {
  font-family: 'Archivo', Arial, sans;
  font-size: 16px;
  font-weight: 800;
  margin: 0;
}
header {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #fff;
}
header .logo {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  line-height: 50px;
  padding: 0 15px 0 0;
  text-transform: uppercase;
}
.container {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  top: 50px;
  left: 0;
  width: auto;
  max-width: 100%;
  padding: 0;
  background-color: #fafafa;
  border-top: 1px solid #000;
}
.block {
  flex: 1 1 240px;
  position: relative;
  padding: 50px;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  cursor: pointer;
}
.block:hover {
  background-color: #f0f0f0;
  transition: 0.2s;
}
.block:active {
  background-color: #194b46;
}
.block .block-inner {
  min-width: 220px;
  min-height: 220px;
}
.block .block-inner img {
  max-width: 100%;
  max-height: 280px;
}
.block .title {
  position: relative;
  width: 100%;
  margin: 0 0 7px 0;
  font-weight: normal;
  font-size: 17px;
  height: 20px;
  transition: 0.3s;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.credit {
  font-size: 19px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  height: 20px;
}
