extends ../../../components/layout/templates/index

block body
  for block in blocks
    a(href="#{block.href()}")
      p= block.get('title')
      - if(block.has('image'))
        img(src="#{block.resizeImage()}" alt="#{block.get('description')}")