.container
	position relative
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content start
	top 0
	left 0
	width 100%
	padding 15px

.block
	position relative
	width 320px
	margin 0 20px 0 0
	
	img
		max-width 100%

.credit
	font-size 20px
	position fixed
	bottom 15px
	right 15px
	height 20px