@font-face {
  font-family: 'Work Sans';
  src: 
  url('/assets/WorkSans-Extrabold.woff'),
  url('/assets/WorkSans-Extrabold.woff2'),
  url('/assets/WorkSans-Extrabold.otf'),
  url('/assets/WorkSans-Extrabold.otf') format('embedded-opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'Archivo';
  src: 
  url('/assets/ArchivoBlack-Regular.ttf');
  font-weight: 800;
}


body, html
	font-family: 'Arial', sans
	padding 0
	margin 0
	width 100%
	height 100%
	font-weight 300
	font-size 12px
	color #000

a
	color #000
	text-decoration none

h1
	font-family: 'Archivo', Arial, sans
	font-size 16px
	font-weight 800
	margin 0

header
	position fixed
	height 50px
	width 100%
	background-color #fff

	.logo 
		position absolute
		right 0
		top 0
		height 50px
		line-height 50px
		padding 0 15px 0 0
		text-transform uppercase